.optimization__img {
  position: absolute;
  bottom: 0px;
  left: -240px;
  z-index: -1;
}

@media (max-width: 1023px) {
  .optimization__img {
    left: -310px;
  }
}

@media (max-width: 767px) {
  .optimization__img {
    left: -430px;
  }
}

@media (max-width: 524px) {
  .optimization__img {
    left: -550px;
  }
}

@media (max-width: 374px) {
  .optimization__img {
    left: -575px;
  }
}
