.finish__round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 21px;
  width: 115px;
  height: 115px;
  background-color: #b4e2ff;
  border-radius: 50%;
}

@media (max-width: 1279px) {
  .finish__round {
    width: 102px;
    height: 102px;
    margin-bottom: 19px;
  }
}
