.promo__simple-title {
  margin: 0 0 4px;
  position: relative;
  color: #fff;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.promo__simple-title::before {
  display: block;
  width: 292px;
  content: '';
  position: absolute;
  border-bottom: 2px solid #fff;
  top: 50%;
  left: 0;
}

.promo__simple-title::after {
  display: block;
  width: 292px;
  content: '';
  position: absolute;
  border-bottom: 2px solid #fff;
  top: 50%;
  right: 0;
}

@media (max-width: 1279px) {
  .promo__simple-title {
    font-size: 71px;
  }

  .promo__simple-title::before {
    width: 190px;
  }

  .promo__simple-title::after {
    width: 190px;
  }
}

@media (max-width: 1023px) {
  .promo__simple-title {
    font-size: 63px;
    margin-bottom: 3px;
  }

  .promo__simple-title::before {
    width: 120px;
  }

  .promo__simple-title::after {
    width: 120px;
  }
}

@media (max-width: 767px) {
  .promo__simple-title {
    font-size: 56px;
  }

  .promo__simple-title::before {
    width: 45px;
  }

  .promo__simple-title::after {
    width: 45px;
  }
}

@media (max-width: 524px) {
  .promo__simple-title {
    font-size: 42px;
  }

  .promo__simple-title::before {
    width: 24px;
  }

  .promo__simple-title::after {
    width: 24px;
  }
}

@media (max-width: 374px) {
  .promo__simple-title {
    font-size: 36px;
  }

  .promo__simple-title::before {
    width: 20px;
  }

  .promo__simple-title::after {
    width: 20px;
  }
}
