.finish__header {
  color: #efefef;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 15px;
}

@media (max-width: 1279px) {
  .finish__header {
    font-size: 26px;
    margin-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .finish__header {
    font-size: 23px;
  }
}

@media (max-width: 524px) {
  .finish__header {
    font-size: 21px;
  }
}

@media (max-width: 374px) {
  .finish__header {
    font-size: 20px;
  }
}
