.first-webinar__header {
  margin: 0 0 15px;
  color: #252525;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .first-webinar__header {
    font-size: 27px;
  }
}

@media (max-width: 374px) {
  .first-webinar__header {
    font-size: 25px;
  }
}
