.first-webinar__date {
  margin: 0 0 14px;
  color: #299cbd;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .first-webinar__date {
    font-size: 29px;
  }
}

@media (max-width: 374px) {
  .first-webinar__date {
    font-size: 27px;
  }
}
